<div>
<a id = "backToProfile" href = "">< Back to profile</a>
<div class = "edit-section">

  <form  action = "/clinician/messages">
    <div class = "">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type = "text" placeholder="search {{type}}.." name = "search">
    </div>
  </form>
  <button class = "note-message-b">
      New {{#if typeId}}Note{{else}}Message{{/if}}
  </button>
</div>
<div class = "note-message-data">
    
    {{#each data}}
           
            <div>
                 <h1>{{this.content}}</h1>
                  
                	<i class="fa-solid fa-trash bin" onClick = "deleteNoteOrMessage(`{{this._id}}`, {{this.type}})"></i>
                 
            </div>
            
    {{/each}}
    
</div>

</div>