<div class='dashboard'>
  {{! HEADINGS }}
  <div class='dash-header'>
    <h1 class='title'>Clinician Dashboard</h1>
    <div class='cli-info'>
      <p style='margin-bottom: 20px'>Hello,
        <b id='cli_name'>{{clinicianName}}</b></p>
      <p id='time'>{{time}}</p>
      <p id='date'>{{date}}</p>
    </div>
  </div>
  {{! SEARCHING BAR }}
  <div class='searching-area'>
    <input type='text' placeholder='Search patient..' />
    <button><i class='fa fa-search'></i></button>
    <a href="clinician/register-patient">
      <button><i class='fa fa-plus'></i></button>
    </a>
  </div>
  {{! TABLE BODY}}
  <div class='table-section'>
    <table class='dash-table'>
      <tr>
        <th>STATUS</th>
        <th>NAME</th>
        <th>BLOOD GLUCOSE LEVEL</th>
        <th>WEIGHT</th>
        <th>DOSES OF INSULIN TAKEN</th>
        <th>STEP COUNTS</th>
      </tr>
      {{#each tableData}}
        <tr>
          <td><i
              class='fa {{getIcon this}}'
              style='font-size:xx-large; color: {{getIconColor this}}'
            ></i></td>
          <td><a href='/clinician/view-patient/{{this._id}}'>{{this.firstName}}
              {{this.lastName}}</a></td>
          {{#with this.bloodGlucose}}
            <td style='color: {{getTextColor value lowThresh highThresh "bloodGlucose"}}'>
              {{#if value}}{{value}} mmol/L{{else if required}}??? mmol/L{{/if}}
            </td>
          {{/with}}

          {{#with this.weight}}
            <td style='color: {{getTextColor value lowThresh highThresh "weight"}}'>
              {{#if required}}
                {{#if value}}{{value}} kg{{else if required}}??? kg{{/if}}
              {{/if}}
            </td>
          {{/with}}
          {{#with this.insulinDose}}
            <td style='color: {{getTextColor value lowThresh highThresh "insulinDose"}}'>
              {{#if value}}{{value}} doses{{else if required}}??? doses{{/if}}
            </td>
          {{/with}}
          {{#with this.stepCount}}
            <td style='color: {{getTextColor value lowThresh highThresh "stepCount"}}'>
              {{#if value}}{{value}}{{else if required}}???{{/if}}
            </td>
          {{/with}}
        </tr>
      {{/each}}
    </table>
    <div class='page-change'>
      <p style='text-align: center'>Show 1-{{numPatient}} of {{numPatient}}</p>
      <div class='page-num'>
        <button><i class='fa fa-arrow-left' style='color: white;'></i></button>
        <h1><b>1</b></h1>
        <button><i class='fa fa-arrow-right' style='color: white;'></i></button>
      </div>
    </div>
  </div>
</div>