<div class='dashboard'>
  {{! HEADINGS }}
  <div class='dash-header'>
    <h1 class='title'>Clinician Dashboard</h1>
    <div class='cli-info'>
      <p style='margin-bottom: 20px'>Hello, <b id='cli_name'>{{clinicianName}}</b></p>
      <p id='time'>{{time}}</p>
      <p id='date'>{{date}}</p>
    </div>
  </div>
  {{! SEARCHING BAR }}
  <div class='searching-area'>
    <input type='text' placeholder="Search patient..">
    <button><i class='fa fa-search'></i></button>
    <button><i class='fa fa-plus'></i></button>
  </div>
  {{! TABLE BODY}}
  <div class='table-section'>
    <table class='dash-table'>
      <tr>
        <th>STATUS</th>
        <th>NAME</th>
        <th>BLOOD GLUCOSE LEVEL</th>
        <th>WEIGHT</th>
        <th>DOSES OF INSULIN TAKEN</th>
        <th>STEP COUNTS</th>
      </tr>
      {{#each tableData}}
        <tr>
          <td><i class='fa {{getIconByStatus this.status}}' style='font-size:xx-large; color: {{getColourByStatus this.status}}'></i></td>
          <td><a href='patient/{{this.id}}'>{{this.name}}</a></td>
          {{#with this.blood_glucose}}
            <td {{#if status}}style='color: {{getColourByStatus status}}'{{/if}}>
              {{#if (statusIsUnknown status)}}???{{else if value}}{{value}} nmol/L{{/if}}
            </td>
          {{/with}}
          {{#with this.weight}}
            <td {{#if status}}style='color: {{getColourByStatus status}}'{{/if}}>
              {{#if (statusIsUnknown status)}}???{{else if value}}{{value}} kg{{/if}}
            </td>
          {{/with}}
          {{#with this.insulin_doses}}
            <td {{#if status}}style='color: {{getColourByStatus status}}'{{/if}}>
              {{#if (statusIsUnknown status)}}???{{else if value}}{{value}} doses{{/if}}
            </td>
          {{/with}}
          {{#with this.step_counts}}
            <td {{#if status}}style='color: {{getColourByStatus status}}'{{/if}}>
              {{#if (statusIsUnknown status)}}???{{else if value}}{{value}}{{/if}}
            </td>
          {{/with}}
        </tr>
      {{/each}}
    </table>
    <div class='page-change'>
      <p style='text-align: center'>Show 1-10 of 47</p>
      <div class='page-num'>
        <button><i class='fa fa-arrow-left' style="color: white;"></i></button>
        <h1><b>1</b></h1>
        <button><i class='fa fa-arrow-right' style="color: white;"></i></button>
      </div>
    </div>
  </div>
</div>