<div class='flex-column dashboard'>
  {{!-- DEFAULT-INFO --}}
  {{> pat-default-info }}

  {{!-- SAFETY THRESHOLDS --}}
  {{> safety-threshold }}

  {{!-- RECORDED DATA --}}
  <p style='margin-top: 20px;'><b style='font-size: 22px;'>Recorded data:</b></p>
  <div class='tabs'>
    <div class='tab chosen noHover' id='overview'
      onclick="OnTabChosen('detailed', 'overview', 'detailed-tab','overview-tab')">
      <label for='overview'>Overview</label>
    </div>
    <div class='tab' id='detailed' onclick="OnTabChosen('overview', 'detailed','overview-tab', 'detailed-tab')">
      <label for='details'>Details</label>
    </div>
  </div>

  {{!-- Overview tab content --}}
  <div id='overview-tab' class='tab-content tab-show'>
    {{#each overviewData}}
    <div class='overview-chart'>
      <h2>{{dataName}}</h2>
      <div class='chart-card'>
        <div id='{{id}}' class='chart-container'></div>
        <script type="text/javascript" containerId="{{id}}" data="{{data}}" title="{{dataName}}">
          var chart = anychart.column();

          var data = document.currentScript.getAttribute('data');
          chart.column(data);

          var title = document.currentScript.getAttribute('title');
          chart.title(title);

          var containerId = document.currentScript.getAttribute('containerId');
          chart.container(containerId);
          chart.draw();
        </script>
      </div>
    </div>
    {{/each}}
  </div>

  {{!-- Detailed tab content --}}
  <div id='detailed-tab' class='tab-content'>
    {{#each detailedData}}
    <div class='flex-column detailed-table'>
      <h2>{{dataName}}</h2>
      <table id='{{id}}' style="border-collapse: collapse; margin-bottom:1rem">
        <tr style='border-bottom: 2px solid #0a57ae;'>
          <th>Timestamp</th>
          <th>nmol/L</th>
          <th>Notes</th>
        </tr>
        <tr style='border-bottom: 1px solid #292929;'>
          <td>16/02/2022 18:35:24</td>
          <td>6700</td>
          <td></td>
        </tr>
        <tr style='border-bottom: 1px solid #292929;'>
          <td>17/02/2022 18:35:24</td>
          <td>6800</td>
          <td>I had some fruit juice st dinner</td>
        </tr>
      </table>
      <a href="">Download all data (.csv) <i class='fa fa-download'></i></a>
    </div>
    {{/each}}
  </div>
</div>
</div>

<script>
  function OnTabChosen(chosenTab, targetTab, chosenTabContent, targetTabContent) {
    var currTab = document.getElementById(chosenTab);
    if (currTab.classList.contains('chosen')) {
      currTab.classList.toggle('chosen');
      currTab.classList.toggle('noHover');
      var currTabContent = document.getElementById(chosenTabContent);
      currTabContent.classList.toggle('tab-show');
    }
    var nextTab = document.getElementById(targetTab);
    if (!nextTab.classList.contains('chosen')) {
      nextTab.classList.toggle('chosen');
      nextTab.classList.toggle('noHover');
      var nextTabContent = document.getElementById(targetTabContent);
      nextTabContent.classList.toggle('tab-show');
    }
  }
</script>