<div class='flex-column dashboard'>
  {{!-- DEFAULT-INFO --}}
  <div>
    <div class='dash-header'>
      <div style="display: flex; gap: 20px;">
        <img src='.././images/sampleAvatar.jpg' class="avatar">
        <div class='flex-column pat-info'>
          <p><b id='pat_name' style='font-size: 25px'>{{patientName}}</b></p>
          <p id='email'>{{patinetEmail}}</p>
          <p id='phoneNo'>{{patientPhoneNo}}</p>
          <div class="flex-row thres-box">
            <p id='record_time' style="margin-bottom: 0%;">
              <b>Recording time: </b>
              <b style="color: #0a57ae;">{{recordingTime.from}} - {{recordingTime.to}}</b>
            </p>
            <button class="border-icon-btn" id="edit_record_time"><i class='fa fa-pencil'></i></button>
          </div>
        </div>
      </div>
      <div class="flex-column" style="gap: 10px;">
        <button class="cli-btn cli-btn-white">View notes<i class="fa fa-sticky-note cli-btn-icon"></i></button>
        <button class="cli-btn cli-btn-default">View messages<i class="fa fa-commenting-o cli-btn-icon"></i></button>
      </div>
    </div>
    <hr style="border: 2px solid #292929;">
  </div>

  {{!-- TODAY'S DATA TABLE --}}
  <div>
    <div class="searching-area">
      <i class='fa fa-check-circle' style='font-size:xx-large; color: #2b7a3d'></i>
      <p style="margin-bottom: 0px;"><b>This patient has entered today's data:</b></p>
    </div>
    <div class='flex-column table-section'>
      <table class='dash-table'>
        <tr>
          <th>STATUS</th>
          <th>BLOOD GLUCOSE LEVEL</th>
          <th>WEIGHT</th>
          <th>DOSES OF INSULIN TAKEN</th>
          <th>STEP COUNTS</th>
        </tr>
        <tr style="border-bottom: 2px solid #292929;">
          <td><i class='fa fa-check-circle' style='font-size:xx-large; color: #2b7a3d'></i></td>
          <td>135 nmol/L</td>
          <td>91 kg</td>
          <td>2 doses</td>
          <td>5000</td>
        </tr>
      </table>
    </div>

    {{!-- SAFETY THRESHOLDS --}}
    <p><b style="font-size: 24px; color:#0a57ae;">Safety threshold</b></p>
    <div class="flex-row thres-box">
      <div class="flex-column threshold-area">
        <div class="threshold-row">
          <p><b>Blood glucose level:</b></p>
          <p id="blood-thres">110 - 130</p>
        </div>
        <div class="threshold-row">
          <p><b>Weight entry:</b></p>
          <p id="weight-thres">70 - 90</p>
        </div>
        <div class="threshold-row">
          <p><b>Dose of insulin taken per day:</b></p>
          <p id="dose-thres">2 - 3</p>
        </div>
        <div class="threshold-row">
          <p><b>Step count recommended:</b></p>
          <p id="step-thres">4000 - 6000</p>
        </div>
      </div>
      <div class="flex-column narrow-margin-bot">
        <p>nmol/L</p>
        <p>kg</p>
        <p>doses</p>
        <p>steps</p>
      </div>
      <button class="border-icon-btn" id="edit_threshold"><i class='fa fa-pencil'></i></button>
    </div>

    {{!-- RECORDED DATA --}}
    <p style="margin-top: 20px;"><b style="font-size: 22px;">Recorded data:</b></p>
    <div style="display:flex; justify-content: flex-end; gap: 15px;">
      <button class="cli-btn cli-btn-center cli-btn-default">View details</button>
      <button class="cli-btn cli-btn-center cli-btn-default">Show monthly</button>
      <button class="cli-btn cli-btn-center cli-btn-white">Show previous</button>
      <button class="cli-btn cli-btn-center cli-btn-white">Show next</button>
    </div>
  </div>