<div class="home" style="text-align: center;">
  <h1 class="title">Register your patient</h1>
  <p>Clinician: <b>{{clinicianName}}</b></p>
  {{#each flash}}
    <p class="alert">{{this}}</p>
  {{/each}}
  <form action="/clinician/register-patient" method="POST">
    <h1 class="sub-title">Personal information</h1>
    <label for="email">Email *</label>
    <input type="email" name="email" id="email" required>
    <label for"phoneNumber">Phone Number *</label>
    <input type="tel" name="phoneNumber" id="phoneNumber" required>
    <label for="firstName">First Name *</label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Last Name *</label>
    <input type="text" name="lastName" id="lastName" required>
    <label for="leaderboardName">Leaderboard Name</label>
    <input type="text" name="leaderboardName" id="leaderboardName">
    <label for="dateOfBirth">Date of Birth *</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth" required>
    <label for="password">Password *</label>
    <input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <label for="confirm-password">Confirm Password *</label>
    <input type="password" name="confirm-password" id="confirm-password" oninput="check_confirm_password(this)" required>
    <br>
    
    {{! Checkboxes }}
    <h1 class="sub-title">Measurement required</h1>
    <div class="measurement">
      <div>
        <label for="bloodGlucose">Blood glucose</label>
        <input type="checkbox" id="bloodGlucoseCheckbox" name="bloodGlucoseCheckbox" onclick="at_least_one_checkbox(this)" checked>
      </div>
      <div>
        <label for="weight">Weight</label>
        <input type="checkbox" id="weightCheckbox" name="weightCheckbox" onclick="at_least_one_checkbox(this)" checked>
      </div>
      <div>
        <label for="insulinDose">Insulin dose</label>
        <input type="checkbox" id="insulinDoseCheckbox" name="insulinDoseCheckbox" onclick="at_least_one_checkbox(this)" checked>
      </div>
      <div>
        <label for="stepCount">Step count</label>
        <input type="checkbox" id="stepCountCheckbox" name="stepCountCheckbox" onclick="at_least_one_checkbox(this)" checked>
      </div>
    </div>

    {{! Threshold }}
    <div class="measurement" id="bloodGlucloseThreshField">
      <div>
        <label for="bloodGlucoseLowThresh">Blood glucose lower threshold (mmol/L)</label>
        <input type="number" name="bloodGlucoseLowThresh" id="bloodGlucoseLowThresh" placeholder="{{defaultThresh.[0]}}" step="0.01" min="0" max="150">
      </div>
      <div>
        <label for="bloodGlucoseLowThresh">Blood glucose upper threshold (mmol/L)</label>
        <input type="number" name="bloodGlucoseHighThresh" id="bloodGlucoseHighThresh" placeholder="{{defaultThresh.[1]}}" step="0.01" min="0" max="150">
      </div>
    </div>
    <div class="measurement" id="weightThreshField">
      <div>
        <label for="weightLowThresh">Weight lower threshold (kg)</label>
        <input type="number" name="weightLowThresh" id="weightLowThresh" placeholder="{{defaultThresh.[2]}}" step="0.1" min="0" max="700">
      </div>
      <div>
        <label for="weightHighThresh">Weight upper threshold (kg)</label>
        <input type="number" name="weightHighThresh" id="weightHighThresh" placeholder="{{defaultThresh.[3]}}" step="0.1" min="0" max="700">
      </div>
    </div>
    <div class="measurement" id="insulinDoseThreshField">
      <div>
        <label for="insulinDoseLowThresh">Insulin dose lower threshold (dose)</label>
        <input type="number" name="insulinDoseLowThresh" id="insulinDoseLowThresh" placeholder="{{defaultThresh.[4]}}" step="1" min="0" max="99">
      </div>
      <div>
        <label for="insulinDoseHighThresh">Insulin dose upper threshold (dose)</label>
        <input type="number" name="insulinDoseHighThresh" id="insulinDoseHighThresh" placeholder="{{defaultThresh.[5]}}" step="1" min="0" max="99">
      </div>
    </div>
    <div class="measurement" id="stepCountThreshField">
      <div>
        <label for="stepCountLowThresh">Step count lower threshold (step)</label>
        <input type="number" name="stepCountLowThresh" id="stepCountLowThresh" placeholder="{{defaultThresh.[6]}}" step="1" min="0" max="999999">
      </div>
      <div>
        <label for="stepCountHighThresh">Step count upper threshold (step)</label>
        <input type="number" name="stepCountHighThresh" id="stepCountHighThresh" placeholder="{{defaultThresh.[7]}}" step="1" min="0" max="999999">
      </div>
    </div>

    {{! Button }}
    <div class="button-wrapper" style="width: 100%;">
      <button type="submit" class="button large-button-variant">Register</button>
    </div>
  </form>
</div>