<div id='safety-threshold'>
  <p class='no-bottom-margin'><b style='font-size: 24px; color:#0a57ae;'>Safety
      threshold</b></p>
  <div class='flex-row thres-box'>
    <div class='flex-column table-section' style='width: 100%;'>
      <table class='threshold-table'>
        {{#each thresholds}}
          <tr id='{{thresName}}'>
            <td class='thres-name'><b>{{thresName}}:</b></td>
            <td class='thres-data'>{{thresFrom}} - {{thresTo}}</td>
            <td class='thres-unit'>{{thresUnit}}</td>
            <td class='thres-time'>{{thresTime}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
    <button class='border-icon-btn' onclick='OpenPopup()'><i
        class='fa fa-pencil'
      ></i></button>
  </div>
</div>

<div class='popup'>
  <span id='edit-thres-popup' class='threshold-popup'>
    <div class='threshold-card'>
      <p><b style='font-size: 24px; color:#0a57ae;'>Safety threshold</b></p>
      <div class='flex-column table-section' style='width: 100%;'>
        <table class='threshold-table'>
          {{#each thresholds}}
            <tr id='{{thresName}}'>
              <td class='thres-name'><b>{{thresName}}:</b></td>
              <td class='thres-data'>{{thresFrom}} - {{thresTo}}</td>
              <td class='thres-unit'>{{thresUnit}}</td>
              <td class='thres-time'>{{thresTime}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
      <div class='flex-row popup-button-group'>
        <button class='cli-btn-white' onclick='ClosePopup()'>Cancel</button>
        <button class='cli-btn-default' onclick='ClosePopup()'>Save</button>
      </div>
    </div>
  </span>
</div>

<script>
  function OpenPopup() { var popup =
  document.getElementById("edit-thres-popup"); popup.classList.toggle("show");}
  function ClosePopup() { var popup =
  document.getElementById("edit-thres-popup"); popup.classList.remove("show");}
</script>