<div class="patient-dashboard">
    <div class="dashboard-main">
        <h1>Today's tasks:</h1>
        <div class="patient-data">
            {{#each userData.dataEntries}}
            <div class="task">
                <div class="icon{{#if this.isDisabled}} icon-disabled{{/if}}" id="{{this.shortName}}">
                    {{#unless this.entry}}
                    <img src="{{this.iconImage}}" />
                    {{else}}
                    <img src="/images/tick.svg" />
                    {{/unless}}
                </div>
                <h4>{{this.name}}</h4>
            </div>
            {{/each}}
        </div>
        <div class="leaderboard">
            <h1>Top Engagement rates in the past 365 days</h1>
            <span id="second-place">2</span>
            <span id="first-place">1</span>
            <span id="third-place">3</span>
        </div>
        <div class="test"></div>
        <div class="ranking">
            <p>Your rank</p>
            <table id="ranking-table">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Engagement Rate %</th>
                </tr>
                <tr>
                    <td>481</td>
                    <td>Username</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>481</td>
                    <td>Username</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>481</td>
                    <td>Username</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>481</td>
                    <td>Username</td>
                    <td>50%</td>
                </tr>
                <tr>
                    <td>481</td>
                    <td>Username</td>
                    <td>50%</td>
                </tr>
            </table>
            <p>Slide to Page 1</p>
            <p>Slide to Page 2</p>
        </div>
    </div>
    <div class="dashboard-side">
        <div class="datepicker"></div>
    </div>

</div>

{{!Popups}}
{{#each userData.dataEntries}}
<div class="pop-up" id="{{this.shortName}}-popup">
    <div class="exit-button"><span class="lni lni-close"></span></div>
    <h3 id="form-title" style="color: #0A57AE;">{{this.name}}</h3>
        {{#unless this.entry}}
        <form id="{{this.shortName}}-form" method='POST' action='/userdata'>
            <input type='hidden' name='type' value='{{this.index}}'/>
            <div>
                <input type="text" class="small-input" placeholder="Input here" name="data">
                <label for="enter-data" id="unit" name="unit">{{this.units}}</label>
            </div>
            <h4>Notes</h4>
            <textarea class="note" type="text" placeholder="Input text here" name="note"></textarea>
            <div class="button-bar">
                <a href="{{this.shortName}}"><button class="small-button-variant" type="button">View data</button></a>
                <button class="small-button-variant" type="submit" id="submit-button">Submit</button>
            </div>
        </form>
        {{else}}
        {{#with this.entry}}
        <div class="completed-task">
            <p class="data-given">{{data}}</p>
            <p>Notes</p>
            <div class="note">
                <p class="note-given">{{note}}</p>
            </div>
            <div class="button-bar">
                <a href="{{this.shortName}}"><button class="small-button-variant" type="button">View & edit</button></a>
            </div>
            
        </div>
        {{/with}}
        {{/unless}}

</div>
{{/each}}

<div id="overlay"></div>