<div class="main-content">

    <h1>{{metadata.name}}</h1>

    <h2>Today's {{metadata.name}} Level: </h2>

    {{#unless userData.entry}}
    <p>    
        <span class="fa fa-exclamation-circle" style="font-size: 1.5em;"></span>
        You have not filled in this data today
    </p>
    {{/unless}}

    {{#with userData}}
    <form id="{{shortName}}-form" method='POST' action='/update-measurement'>
        <input type='hidden' name='type' value='{{index}}' />
        <div>
            <input type="number" class="small-input" {{#if entry}}value="{{entry.value}}"{{/if}} placeholder="Input here" name="value" min="{{minValid}}" max="{{maxValid}}" step="{{incStep}}">
            <label for="enter-data" id="unit" name="unit">{{units}}</label>
        </div>
        <h4>Notes</h4>
        <textarea class="note" type="text" placeholder="Input text here" name="note">{{#if entry}}{{entry.note}}{{/if}}</textarea>
        <div class="button-bar">
            <button class="small-button-variant" type="submit" id="submit-button">{{#unless entry}}Submit{{else}}Resubmit{{/unless}}</button>
        </div>
    </form>
    {{/with}}

</div>